<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <title>Kontakt</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <header id="header">
      <div id="div-header">
        <div id="div-branding">
          <h1>The Traveller's Chant</h1>
          <h5>I havn't been everywhere. But it's on my list.</h5>
        </div>

        <div id="div-search">
          <input
            id="div-search-input"
            type="text"
            placeholder="Wonach suchst du?"
          />
          <button id="div-search-button"></button>
          <img
            id="div-search-image"
            src="../images/icons/search.png"
            alt="search.png"
          />
        </div>

        <div id="div-log">
          <a href="#" id="div-log-link">Anmelden</a>
        </div>
      </div>
    </header>

    <main>
      <ul id="breadcrumb">
        <li><a href="#">Startseite</a></li>
        <li>Kontakt</li>
      </ul>

      <div id="container-contact">
        <div id="container-p">
          <article id="container-article1-p1">
            <p id="article1-section1-text-wide">
              Fragen? Kooberatoionen? Liebesbriefe? Schreib mir gerne eine
              E-Mail!
            </p>
          </article>
          <article id="container-article2-p2">
            <p id="article2-section2-text1">
              <strong>E-Mail:</strong> mia.mustermann@gmail.com
            </p>
          </article>
        </div>
      </div>
    </main>

    <footer>
      <nav>
        <ul>
          <li id="link-li0">
            <a href="#">Über Uns</a>
          </li>
          <li id="link-li1">
            <a href="#">Impressum</a>
          </li>
          <li id="link-li2">
            <a href="#">Kontakt</a>
          </li>
        </ul>
      </nav>
      <p>© 2021 UebermotiviertAWT</p>
    </footer>
  </body>
</html>
