<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <title>Beitrag bearbeiten</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <header id="header">
      <div id="div-header">
        <div id="div-branding">
          <h1>The Traveller's Chant</h1>
          <h5>I havn't been everywhere. But it's on my list.</h5>
        </div>

        <div id="div-search">
          <input
            id="div-search-input"
            type="text"
            placeholder="Wonach suchst du?"
          />
          <button id="div-search-button"></button>
          <img
            id="div-search-image"
            src="../images/icons/search.png"
            alt="search.png"
          />
        </div>
        <div id="div-dropDown">
          <select name="select-dropDown" id="dropDownMenu">
            <option value="welcome">Hey, <span id="username">Nutzername<span></option>
            <option value="cms">Dashboard</option>
            <option value="pwChange">Passwort ändern</option>
            <option value="logout">Abmelden</option>
          </select>
        </div>
      </div>
    </header>
    <main>
      <ul id="breadcrumb">
        <li><a href="#">Startseite</a></li>
        <li><a href="#">Dashboard</a></li>
        <li>Beitrag bearbeiten</li>
      </ul>

      <div id="container-edit">

        <div class="form-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="attachment" name="attachment"/>
            <label for="attachment" class="file-upload" class="custom-file-label">
              <span class="lable-span__text">+</span>
              <span id="filename"></span>
            </label>
            <p id="btn-lable">Bild auswählen und hochladen</p>
          </div>
        </div>

        <div id="con-edit">
  
          <div class="div-postHeadline-category">
            
            <input class="div__input--headline" placeholder="Wie soll dein Beitrag heißen?"></input>

            <div class="select-category">
              <select class="div__select--dropDownMenu" name="select-dropDown" id="dropDownMenu">
                <option value="category">Wähle eine Kategorie</option>
                <option value="berge">Berge</option>
                <option value="kultur">Kultur</option>
                <option value="stadt">Stadt</option>
                <option value="strand">Strand</option>
                <option value="wald">Wald</option>
              </select>
            </div>

          </div>

          <textarea class="div__textarea--post" placeholder="Schreibe hier dein Beitrag..."></textarea>

        </div>

        <div class="div-container-button">
          <button class="div__button--submit" id="submit-post">Speichern</button>
          <button class="div__button--delete" id="delete-post">Abbrechen</button>
        </div>

      </div>
    </main>

    <footer>
      <nav>
        <ul>
          <li id="link-li0">
            <a href="#">Über Uns</a>
          </li>
          <li id="link-li1">
            <a href="#">Impressum</a>
          </li>
          <li id="link-li2">
            <a href="#">Kontakt</a>
          </li>
        </ul>
      </nav>
      <p>© 2021 UebermotiviertAWT</p>
    </footer>
  </body>
</html>
