<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <title>Startseite</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <header id="header">
      <div id="div-header">
        <div id="div-branding">
          <h1>The Traveller's Chant</h1>
          <h5>I havn't been everywhere. But it's on my list.</h5>
        </div>

        <div id="div-search">
          <input
            id="div-search-input"
            type="text"
            placeholder="Wonach suchst du?"
          />
          <button id="div-search-button"></button>
          <img
            id="div-search-image"
            src="../images/icons/search.png"
            alt="search.png"
          />
        </div>

        <div id="div-log">
          <a href="#" id="div-log-link">Anmelden</a>
        </div>
      </div>
    </header>
    <nav>
      <ul>
        <li id="link-li0">
          <a href="#">Startseite</a>
        </li>
        <li id="link-li1">
          <a href="#">Berge</a>
        </li>
        <li id="link-li2">
          <a href="#">Kultur </a>
        </li>
        <li id="link-li3">
          <a href="#">Party</a>
        </li>
        <li id="link-li4">
          <a href="#">Stadt</a>
        </li>
        <li id="link-li5">
          <a href="#">Strand</a>
        </li>
        <li id="link-li6">
          <a href="#">Wald</a>
        </li>
      </ul>
    </nav>

    <main>
      <div id="container1-index">
        <article id="article1-section1-index">
          <button id="category-name">Kultur</button>
          <img
            id="article1-img-index"
            src="../images/kultur/asien01.jpg"
            alt="asien01.png"
          />
        </article>

        <article id="article1-section1-index">
          <h3 id="article1-headline-index">Lorem impsum dolor</h3>
          <p id="article1-text-index">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua.
          </p>
          <a href="#" id="read-more-link">Erfahre mehr...</a>
        </article>
      </div>

      <div id="container2">
        <div id="con2-1">
          <article id="article2-section1">
            <button id="category-name">Kultur</button>
            <img
              id="article2-img"
              src="../images/kultur/asien01.jpg"
              alt="asien01.png"
            />
          </article>

          <article id="article2-section2">
            <h3 id="article2-headline">Lorem impsum dolor</h3>
            <p id="article2-text">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam voluptua. At vero eos et accusam et justo duo
            </p>
            <a href="#" id="read-more-link">Erfahre mehr...</a>
          </article>
        </div>

        <div id="con2-2">
          <article id="article2-section1">
            <button id="category-name">Kultur</button>
            <img
              id="article2-img"
              src="../images/kultur/asien01.jpg"
              alt="asien01.png"
            />
          </article>

          <article id="article2-section2">
            <h3 id="article2-headline">Lorem impsum dolor</h3>
            <p id="article2-text">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            </p>
            <a href="#" id="read-more-link">Erfahre mehr...</a>
          </article>
        </div>
      </div>

      <div id="container3">
        <div id="con3-1">
          <article id="article3-section1">
            <button id="category-name">Kultur</button>
            <img
              id="article3-img"
              src="../images/kultur/asien01.jpg"
              alt="asien01.png"
            />
          </article>

          <article id="article3-section2">
            <h3 id="article3-headline">Lorem impsum dolor</h3>
            <p id="article3-text">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam voluptua. At vero eos et accusam et justo duo
            </p>
            <a href="#" id="read-more-link">Erfahre mehr...</a>
          </article>
        </div>

        <div id="con3-2">
          <article id="article3-section1">
            <button id="category-name">Kultur</button>
            <img
              id="article3-img"
              src="../images/kultur/asien01.jpg"
              alt="asien01.png"
            />
          </article>

          <article id="article3-section2">
            <h3 id="article3-headline">Lorem impsum dolor</h3>
            <p id="article3-text">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            </p>
            <a href="#" id="read-more-link">Erfahre mehr...</a>
          </article>
        </div>

        <div id="con3-3">
          <article id="article3-section1">
            <button id="category-name">Kultur</button>
            <img
              id="article3-img"
              src="../images/kultur/asien01.jpg"
              alt="asien01.png"
            />
          </article>

          <article id="article3-section2">
            <h3 id="article3-headline">Lorem impsum dolor</h3>
            <p id="article3-text">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            </p>
            <a href="#" id="read-more-link">Erfahre mehr...</a>
          </article>
        </div>
      </div>
    </main>

    <footer>
      <nav>
        <ul>
          <li id="link-li0">
            <a href="#">Über Uns</a>
          </li>
          <li id="link-li1">
            <a href="#">Impressum</a>
          </li>
          <li id="link-li2">
            <a href="#">Kontakt</a>
          </li>

        </ul>
      </nav>
      <p>© 2021 UebermotiviertAWT</p>
    </footer>
    
   
  </body>
  

</html>
