<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div id="containerLog">
      <div id="bg-Blurred"></div>
      <div id="div-log-form">
        <form id="log-form">
          <div id="div-wrap-head">
            <img
              id="log-span-img"
              src="../images/icons/composition.png"
              alt="search.png"
            />
            <div id="div-log-span-text">
              <span id="log-span-text">
                <h2>Willkommen, Reisender!</h2>
              </span>
              <span id="log-span-text">
                <h3>Melde dich an:</h3>
              </span>
            </div>
          </div>

          <div id="wrap-input">
            <div id="wrap-input-UN">
              <input
                id="input-UN"
                type="text"
                name="username"
                placeholder="Benutzername"
              />
            </div>
            <div id="wrap-input-PW">
              <input
                id="input-PW"
                type="password"
                name="Passwort"
                v
                placeholder="Passwort"
              />
            </div>
          </div>

          <div id="div-log-btn">
            <button id="log-btn">Los geht's!</button>
          </div>

          <div id="div-log-text">
            <a href ="#" id="div-log-text-a">Password vergessen?</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
