<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <title>Ändere dein Passwort</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div id="containerLog">
      <div id="bg-Blurred"></div>
      <div id="div-NP-form">
        <form id="log-form">
          <div id="div-wrap-head">
            <img
              id="NP-span-img"
              src="../images/icons/passwort.png"
              alt="search.png"
            />
            <div id="div-NP-span-text">
              <span id="NP-span-text">
                <h2>Neues Passwort anlegen:</h2>
              </span>
            </div>
          </div>

          <div id="wrap-input">
            <div id="wrap-input-NP">
              <input
                id="input-NP"
                type="password"
                name="newPassword"
                placeholder="neues Passwort"
              />
            </div>
            <div id="wrap-input-CNP">
              <input
                id="input-CNP"
                type="password"
                name="confirmNewPasswort"
                v
                placeholder="bestätige neues Passwort"
              />
            </div>
          </div>

          <div id="div-confirm-btn">
            <button id="confirm-btn">Passwort speichern</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
