<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <title>BeitragName</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <header id="header">
      <div id="div-header">
        <div id="div-branding">
          <h1>The Traveller's Chant</h1>
          <h5>I havn't been everywhere. But it's on my list.</h5>
        </div>

        <div id="div-search">
          <input
            id="div-search-input"
            type="text"
            placeholder="Wonach suchst du?"
          />
          <button id="div-search-button"></button>
          <img
            id="div-search-image"
            src="../images/icons/search.png"
            alt="search.png"
          />
        </div>

        <div id="div-log">
          <a href="#" id="div-log-link">Anmelden</a>
        </div>
      </div>
    </header>

    <main>
      <ul id="breadcrumb">
        <li><a href="#">Startseite</a></li>
        <li><a href="#">Kategorie</a></li>
        <li>BeitragName</li>
      </ul>

      <div id="container-SBP">
        <img
          id="blog-img-center"
          src="../images/kultur/asien01.jpg"
          alt="asien01.png"
        />
        <div id="blog-title-info">
          <h3 id="blog-title">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr
          </h3>
          <div id="category-date">
            <p id="p-category">
              Aus der Rubrik: <span><a id="category">Kategorie</a></span>
            </p>
            <p>Veröffentlich am: <span id="release-date">date</span></p>
          </div>
        </div>

        <div id="div-blog-text">
          <article id="article-blog-text-1">
            <p id="blog-text-1">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam voluptua. At vero eos et accusam et justo duo Lorem
              ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
              eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
              sed diam voluptua. At vero eos et accusam et justo duo Lorem ipsum
              dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
              eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
              sed diam voluptua. At vero eos et accusam et justo duo
            </p>
          </article>
        </div>
      </div>
    </main>

    <footer>
      <nav>
        <ul>
          <li id="link-li0">
            <a href="#">Über Uns</a>
          </li>
          <li id="link-li1">
            <a href="#">Impressum</a>
          </li>
          <li id="link-li2">
            <a href="#">Kontakt</a>
          </li>
        </ul>
      </nav>
      <p>© 2021 UebermotiviertAWT</p>
    </footer>
  </body>
</html>
