<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <title>Über uns</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <header id="header">
      <div id="div-header">
        <div id="div-branding">
          <h1>The Traveller's Chant</h1>
          <h5>I havn't been everywhere. But it's on my list.</h5>
        </div>

        <div id="div-search">
          <input
            id="div-search-input"
            type="text"
            placeholder="Wonach suchst du?"
          />
          <button id="div-search-button"></button>
          <img
            id="div-search-image"
            src="../images/icons/search.png"
            alt="search.png"
          />
        </div>

        <div id="div-log">
          <a href="#" id="div-log-link">Anmelden</a>
        </div>
      </div>
    </header>

    <main>
      <ul id="breadcrumb">
        <li><a href="#">Startseite</a></li>
        <li>Über uns</li>
      </ul>

      <div id="container-aboutUs">
        <article id="article1-section1-aboutUs">
          <img
            id="article1-img-aboutUs"
            src="../images/kultur/asien01.jpg"
            alt="asien01.png"
          />
        </article>

        <article id="article1-section1-aboutUs">
          <h3 id="article1-headline-aboutUs">Über "The Traveller's Chant"</h3>
          <p id="article1-text-aboutUs">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua.
          </p>
        </article>

        <article id="article2-section2-aboutUs">
          <p id="article2-text-aboutUs">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
          </p>
        </article>
      </div>
    </main>

    <footer>
      <nav>
        <ul>
          <li id="link-li0">
            <a href="#">Über Uns</a>
          </li>
          <li id="link-li1">
            <a href="#">Impressum</a>
          </li>
          <li id="link-li2">
            <a href="#">Kontakt</a>
          </li>
        </ul>
      </nav>
      <p>© 2021 UebermotiviertAWT</p>
    </footer>
  </body>
</html>
