@use "../../base/colors" as colors;
@use "../../base/font" as font;

@use "../../mixins/btn-mixin" as btn-mixin;
@use "../../mixins/flex-mixin" as flex-mixin;

$border-radius: 0.625rem;

#bg-Blurred {
    width: 110%;
    height: 110%;
    background-color: colors.$main-color;
    opacity: 50%;

    position: fixed;
    left: -10%;
    top: -10%;
}

#div-NP-form {
    position: absolute;
    top: 10%;
    left: 25%;
    width: 36rem;
    height: 27rem;
    background-color: colors.$secondary-color;

    border-radius: 0.625rem;
}

#position-button {
    position: absolute;
    top: 5%;
    left: 90%;
} 

#close-button {
  
    text-align: center;
    @include btn-mixin.btn-mixin($width: 2.2rem, $height: 2rem);
    color: colors.$main-color;
    border-radius: 0.5rem;

    &:hover {
        background-color: colors.$hover-color;
        color: colors.$basic-color;
        font-weight: font.$headline-font-weight;
    }
}

#div-wrap-head {
    position: absolute;
    top: 10%;
    left: 10%;

    display: flex;
    flex-direction: row wrap;

    width: 30rem;
}

#div-NP-span-text {
    margin-left: 3rem;

    width: 20rem;
    height: 5rem;

    h2 {
        margin-top: 2rem;
    }
}

#NP-span-img {
    width: 6.25rem;
    height: 6.25rem;
}

#wrap-input {
    position: absolute;
    top: 40%;
    left: 10%;

    width: 30rem;

    input {
        width: 29rem;
        height: 2.81rem;

        border-color: transparent;
        border-radius: $border-radius * 0.5;
    }
}
#wrap-input-NP {
    margin-bottom: 1rem;
}

#input-NP,
#input-CNP {
    font-family: inherit;
    color: colors.$basic-color;
}

#div-confirm-btn {
    position: absolute;
    top: 73%;
    width: 36rem;
    text-align: center;
}

#confirm-btn {
    @include btn-mixin.btn-mixin($color: colors.$main-color, $width: 11.813rem, $height: 2.813rem);
    font-family: inherit;
    font-weight: font.$headline-font-weight;
    font-size: font.$basic-font-size;

    border-radius: $border-radius * 0.5;

    &:hover {
        background-color: colors.$hover-color;
        color: colors.$basic-color;
    }
}
