
$main-color: hsl(72, 22%, 95%);

$secondary-color: hsl(60, 17%, 86%);

$branding-color: hsl(22, 100%, 67%);

$basic-color: hsl(60, 4%, 16%);

$hover-color: hsl(202, 67%, 85%);

$submit-color: hsl(166, 35%, 46%);
$hover-submit-color: hsl(166, 76%, 32%);

$delete-color: hsl(10, 100%, 67%);
$hover-delete-color: hsl(10, 86%, 59%);



//title
$title-color: $branding-color;
$subtitle-color: $branding-color;

//nav

//buttons
$btn-bg-color: $basic-color;

//a
$link-color: $main-color;


//footer
$ft-link-color: $link-color;
