
$main-color: hsl(72, 22%, 95%);

$secondary-color: hsl(60, 17%, 86%);

$branding-color: hsl(22, 100%, 67%);

$basic-color: hsl(60, 4%, 16%);

$hover-color: hsl(202, 67%, 85%);



//title
$title-color: $branding-color;
$subtitle-color: $branding-color;

//nav

//buttons
$btn-bg-color: $basic-color;

//a
$link-color: $main-color;


//footer
$ft-link-color: $link-color;
