@use "../../base/colors" as colors;
@use "../../base/font" as font;

#container-search {
    margin-top: 3%;
    text-align: center;

    span {
        font-weight: font.$headline-font-weight;
    }

    img {
        width: 45%;
        height: auto;
    }
}


