@use "../../base/colors" as colors;
@use "../../base/font" as font;

@use "../../mixins/flex-mixin" as flex-mixin;


#container-result {
    @include flex-mixin.flex-mixin( $justify-content: start);
}

#con-result {
    width: 33%;
    margin-top: 3%;
    margin-bottom: 3%;
}
