@use "../../base/colors" as colors;
@use "../../base/font" as font;

@use "../../mixins/btn-mixin" as btn-mixin;
@use "../../mixins/flex-mixin" as flex-mixin;

$container-top-margin: 4%;
$container-bottom-margin: 6%;

$h3-top-margin: 0%;
$h3-bottom-margin: 2%;

#read-more-link {
    color: colors.$branding-color;

    &:hover {
        color: colors.$hover-color;
    }
}

#category-name {
    @include btn-mixin.btn-mixin($color: colors.$main-color, $width: 7.5rem, $height: 1.875rem);
    font-family: inherit;

    position: absolute;
}

//gesammter post in layout row 1
.container1__post {
    margin: 1%;

    max-width: 100%;
}

#container1-index {
    @include flex-mixin.flex-mixin();

    margin-top: $container-top-margin;
    margin-bottom: $container-bottom-margin;

    h3 {
        margin-top: $h3-top-margin;
        margin-bottom: $h3-bottom-margin;
    }
}

#article1-section1-index {
    width: 45%;
    height: auto;
    margin-right: 5%;
}

#article1-img-index {
    width: 100%;
    height: auto;
}

#category-name-index {
    @include btn-mixin.btn-mixin($color: colors.$main-color, $width: 7.5rem, $height: 1.875rem);
    font-family: inherit;

    position: absolute;
}

// zweiter Containerabschnitt ////////////////////////////////////////////////////////////////////

#container2 {
    max-width: 100%;
    @include flex-mixin.flex-mixin($justify-content: start);

    margin-top: $container-bottom-margin;
    margin-bottom: $container-bottom-margin;
}

//gesammter post in layout row 2
.container2__post {
    margin: 1%;

    max-width: 45%;
}

//article section with image and button
#article2-section1-index {
    width: 100%;
    height: auto;
}

//article section with image
#article2-img {
    width: 100%;
    height: auto;
}

//container mit Text
#article2-section2 {
    width: 100%;
    height: auto;
}

// dritter Containerabschnitt ////////////////////////////////////////////////////////////////////

#container3 {
    max-width: 100%;
    @include flex-mixin.flex-mixin($justify-content: start);

    margin-top: $container-bottom-margin;
    margin-bottom: $container-bottom-margin;
}

//gesammter post in layout row 3
.container3__post {
    margin: 1%;

    max-width: 30%;
}


//container mit Image und Button
#article3-section1 {
    width: 100%;
    height: auto;
}

//image in row 3
#article3-img {
    width: 100%;
    height: auto;
}

//p tag cuts down the text with "..."
.cut-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

