@use "../../base/colors" as colors;
@use "../../base/font" as font;

@use "../../mixins/btn-mixin" as btn-mixin;
@use "../../mixins/flex-mixin" as flex-mixin;

$container-top-margin: 5%;
$container-bottom-margin:5%;

#container-contact {
    margin-top: $container-top-margin;
    margin-bottom: $container-bottom-margin;

}



#article1-section1-text-wide{
    width: 90%;

}


