@use "../../base/colors" as colors;
@use "../../base/font" as font;

@use "../../mixins/btn-mixin" as btn-mixin;
@use "../../mixins/flex-mixin" as flex-mixin;

$container-top-margin: 4%;
$container-bottom-margin: 6%;

$h3-top-margin: 0%;
$h3-bottom-margin: 2%;


#container-aboutUs{
    @include flex-mixin.flex-mixin();

    margin-top: $container-top-margin;
    margin-bottom: $container-bottom-margin;

    h3 {
        margin-top: $h3-top-margin;
        margin-bottom: $h3-bottom-margin;
    }
}

#article1-section1-aboutUs {
    width: 45%;
    height: auto;
    margin-right: 5%;
}

#article1-img-aboutUs {
    width: 100%;
    height: auto;
}



#article2-text-aboutUs {
    width: 100%;
    margin-top: 2rem;
}