@use "../base/colors" as colors;
@use "../base/font" as font;

@use "../mixins/flex-mixin" as flex-mixin;

#breadcrumb {
    list-style-type: none;
    margin: 0;
    padding: 0;

    @include flex-mixin.flex-mixin($wrap: nowrap, $justify-content: start);

    list-style: none;
    padding-top: 4%;

    li {
        display: inline;
        min-width: 5rem;
    }

    li + li:before {
        padding-right: 1rem;
        color: colors.$basic-color;
        content: "|";
        font-family: lighter;
    }
}
