@use "../base/colors" as colors;
@use "../base/font" as font;

@use "../mixins/flex-mixin" as flex-mixin;

footer {

    position: absolute;
    width: 110%;
    margin: 0%;
    background-color: colors.$secondary-color;

    text-align: center;

    left: -10%;

    p {
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left: 10%;
    }

    ul {
        @include flex-mixin.flex-mixin($wrap: nowrap, $justify-content: space-around);
    margin-left: 10%;
    }
}
