@use "../base/colors" as colors;
@use "../base/font" as font;

@use "../mixins/flex-mixin" as flex-mixin;


ul {
 list-style-type: none;
  margin: 0;
  padding: 0;


@include flex-mixin.flex-mixin($wrap: nowrap, $justify-content: space-between);

  text-align: center;
  list-style: none;
  padding-top: 4%;
  padding-left: 20%;
  padding-right: 20%;
  

}

li {
    display: inline;
    width: auto;
    margin: 1%;
}
